.app.dark {
  --bg-color: #0a1e80;
  --inverted-bg-color: #d9dade;


  --primary-color: #067906;
  --secondary-color: #08bd08;
  --inverted-primary-color: #96a0b4;
  --inverted-secondary-color: #c0c4de;

}